# ===== BACKEND: Python / Django =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Base de datos local
*.sqlite3
db.sqlite3

# Variables de entorno
.env
.env.*
!.env.example

# Archivos subidos por usuarios
media/
backend/media/
backend/documentos/

# ===== FRONTEND: Node / React =====
node_modules/
dist/
build/

# ===== IDE / SISTEMA =====
.idea/
.vscode/
.DS_Store
Thumbs.db